## Датасет собран из базы данных переписи 1994 года и содержит данные о доходах.
### Информация о данных:
* age: continuous.
* workclass: Private, Self-emp-not-inc, Self-emp-inc, Federal-gov, Local-gov, State-gov, Without-pay, Never-worked.
* fnlwgt: continuous.
* education: Bachelors, Some-college, 11th, HS-grad, Prof-school, Assoc-acdm, Assoc-voc, 9th, 7th-8th, 12th, * Masters, 1st-4th, 10th, Doctorate, 5th-6th, Preschool.
* education-num: continuous.
* marital-status: Married-civ-spouse, Divorced, Never-married, Separated, Widowed, Married-spouse-absent, Married-AF-spouse.
* occupation: Tech-support, Craft-repair, Other-service, Sales, Exec-managerial, Prof-specialty, Handlers-cleaners, Machine-op-inspct, Adm-clerical, Farming-fishing, Transport-moving, Priv-house-serv, Protective-serv, Armed-Forces.
* relationship: Wife, Own-child, Husband, Not-in-family, Other-relative, Unmarried.
* race: White, Asian-Pac-Islander, Amer-Indian-Eskimo, Other, Black.
* sex: Female, Male.
* capital-gain: continuous.
* capital-loss: continuous.
* hours-per-week: continuous.
* native-country: United-States, Cambodia, England, Puerto-Rico, Canada, Germany, Outlying-US(Guam-USVI-etc), India, Japan, Greece, South, China, Cuba, Iran, Honduras, Philippines, Italy, Poland, Jamaica, Vietnam, Mexico, Portugal, Ireland, France, Dominican-Republic, Laos, Ecuador, Taiwan, Haiti, Columbia, Hungary, Guatemala, Nicaragua, Scotland, Thailand, Yugoslavia, El-Salvador, Trinadad&Tobago, Peru, Hong, Holand-Netherlands.
* salary: >50K,<=50K

## Проведите анализ данных при помощи Pandas выполнив поставленные задачи.
####

In [1]:
import pandas as pd

In [2]:
# загружаем датасет
data = pd.read_csv("./adult.data.csv")
data.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

**1. Посчитайте, сколько мужчин и женщин (признак *sex*) представлено в этом датасете**

In [3]:
sex_counts = data.groupby("sex").size()
print(sex_counts)

sex
Female    10771
Male      21790
dtype: int64

**2. Каков средний возраст мужчин (признак *age*) по всему датасету?**

In [4]:
mask = data['sex'] == 'Male'
avg_male_age = data.loc[mask, 'age'].mean()
print(avg_male_age.round())

39.0

**3. Какова доля граждан Соединенных Штатов (признак *native-country*)?**

In [16]:
total = data['native-country'].notna().sum()
us_count = (data['native-country'] == 'United-States').sum()
us_share = us_count / total
print(int((us_share*100)),"%")

89 %

**4-5. Рассчитайте среднее значение и среднеквадратичное отклонение возраста тех, кто получает более 50K в год (признак *salary*) и тех, кто получает менее 50K в год**

In [21]:
high_salary = data[data['salary'] == '>50K']
low_salary = data[data['salary'] == '<=50K']

mean_high = high_salary['age'].mean()
mean_low = low_salary['age'].mean()

std_high = high_salary['age'].std()
std_low = low_salary['age'].std()

print("Средний возраст (>50K):", mean_high)
print("Средний возраст (<=50K):", mean_low)
print("Стандартное отклонение возраста (>50K):", std_high)
print("Стандартное отклонение возраста (<=50K):", std_low)

Средний возраст (>50K): 44.24984058155847
Средний возраст (<=50K): 36.78373786407767
Стандартное отклонение возраста (>50K): 10.519027719851826
Стандартное отклонение возраста (<=50K): 14.02008849082488

**6. Правда ли, что люди, которые получают больше 50k, имеют минимум высшее образование? (признак *education – Bachelors, Prof-school, Assoc-acdm, Assoc-voc, Masters* или *Doctorate*)**

In [22]:
edu_levels = high_salary['education'].unique()
higher_edu = ['Bachelors', 'Prof-school', 'Assoc-acdm', 'Assoc-voc', 'Masters', 'Doctorate']

not_higher = [edu for edu in edu_levels if edu not in higher_edu]

if not_higher:
    print("не правда", not_higher)
else:
    print("правда")

не правда ['HS-grad', 'Some-college', '7th-8th', '12th', '10th', '11th', '9th', '5th-6th', '1st-4th']

**7. Выведите статистику возраста для каждой расы (признак *race*) и каждого пола. Используйте *groupby* и *describe*. Найдите таким образом максимальный возраст мужчин расы *Asian-Pac-Islander*.**

In [30]:
age_stats = data.groupby(['race', 'sex'])['age'].describe()
print(age_stats)
max_age = age_stats.loc[('Asian-Pac-Islander', 'Male'), 'max']
print(max_age)

                             count       mean        std   min   25%   50%  \
race               sex
Amer-Indian-Eskimo Female    119.0  37.117647  13.114991  17.0  27.0  36.0
                   Male      192.0  37.208333  12.049563  17.0  28.0  35.0
Asian-Pac-Islander Female    346.0  35.089595  12.300845  17.0  25.0  33.0
                   Male      693.0  39.073593  12.883944  18.0  29.0  37.0
Black              Female   1555.0  37.854019  12.637197  17.0  28.0  37.0
                   Male     1569.0  37.682600  12.882612  17.0  27.0  36.0
Other              Female    109.0  31.678899  11.631599  17.0  23.0  29.0
                   Male      162.0  34.654321  11.355531  17.0  26.0  32.0
White              Female   8642.0  36.811618  14.329093  17.0  25.0  35.0
                   Male    19174.0  39.652498  13.436029  17.0  29.0  38.0

                             75%   max
race               sex
Amer-Indian-Eskimo Female  46.00  80.0
                   Male    45.00  82.0
Asian-Pac-Islander Female  43.75  75.0
                   Male    46.00  90.0
Black              Female  46.00  90.0
                   Male    46.00  90.0
Other              Female  39.00  74.0
                   Male    42.00  77.0
White              Female  46.00  90.0
                   Male    49.00  90.0
90.0

**8. Среди кого больше доля зарабатывающих много (>50K): среди женатых или холостых мужчин (признак *marital-status*)? Женатыми считаем тех, у кого *marital-status* начинается с *Married* (Married-civ-spouse, Married-spouse-absent или Married-AF-spouse), остальных считаем холостыми.**

In [43]:
data_male = data[data['sex'] == 'Male'].copy()
data_male['married'] = data_male['marital-status'].str.startswith('Married')
high_income_fraction = data_male.groupby('married')['salary'].apply(lambda x: (x == '>50K').mean()) 

print(high_income_fraction)
if high_income_fraction[True] > high_income_fraction[False]:
    print("Больше доля зарабатывающих >50K среди женатых мужчин.")
else:
    print("Больше доля зарабатывающих >50K среди холостых мужчин.")

married
False    0.084495
True     0.440514
Name: salary, dtype: float64
Больше доля зарабатывающих >50K среди женатых мужчин.

**9. Какое максимальное число часов человек работает в неделю (признак *hours-per-week*)? Сколько людей работают такое количество часов и каков среди них процент зарабатывающих много?**

In [45]:
max_hours = data['hours-per-week'].max()
print(f"Максимальное количество часов в неделю: {max_hours}")


workers_max_hours = data[data['hours-per-week'] == max_hours]
num_workers = len(workers_max_hours)
print(f"Количество людей, работающих {max_hours} часов: {num_workers}")

high_income_percent = (workers_max_hours['salary'] == '>50K').mean() * 100
print(f"Процент зарабатывающих >50K среди них: {high_income_percent:.2f}%")

Максимальное количество часов в неделю: 99
Количество людей, работающих 99 часов: 85
Процент зарабатывающих >50K среди них: 29.41%

**10. Посчитайте среднее время работы (*hours-per-week*) зарабатывающих мало и много (*salary*) для каждой страны (*native-country*).**

In [46]:
mean_hours = data.groupby(['native-country', 'salary'])['hours-per-week'].mean()

print(mean_hours)

native-country  salary
?               <=50K     40.164760
                >50K      45.547945
Cambodia        <=50K     41.416667
                >50K      40.000000
Canada          <=50K     37.914634
                            ...
United-States   >50K      45.505369
Vietnam         <=50K     37.193548
                >50K      39.200000
Yugoslavia      <=50K     41.600000
                >50K      49.500000
Name: hours-per-week, Length: 82, dtype: float64

**11.Сгруппируйте людей по возрастным группам *young*, *adult*, *retiree*, где:**
* *young* соответствует 16-35 лет
* *adult* - 35-70 лет
* *retiree* - 70-100 лет

**Проставьте название соответсвтуещей группы для каждого человека в новой колонке AgeGroup**

In [47]:
def age_group(age):
    if 16 <= age < 35:
        return 'young'
    elif 35 <= age < 70:
        return 'adult'
    elif 70 <= age <= 100:
        return 'retiree'
    else:
        return 'unknown'  

data['AgeGroup'] = data['age'].apply(age_group)
print(data[['age', 'AgeGroup']].head(10))

   age AgeGroup
0   39    adult
1   50    adult
2   38    adult
3   53    adult
4   28    young
5   37    adult
6   49    adult
7   52    adult
8   31    young
9   42    adult

**12-13. Определите количество зарабатывающих >50K в каждой из возрастных групп (колонка AgeGroup), а также выведите название возрастной группы, в которой чаще зарабатывают больше 50К (>50K)**

In [49]:
high_income = data[data['salary'] == '>50K']

high_income_counts = high_income['AgeGroup'].value_counts()
print("Количество зарабатывающих >50K по возрастным группам:")
print(high_income_counts)

most_high_income_group = high_income_counts.idxmax()
print(f"\nВозрастная группа, в которой чаще зарабатывают >50K: {most_high_income_group}")

Количество зарабатывающих >50K по возрастным группам:
AgeGroup
adult      6240
young      1488
retiree     113
Name: count, dtype: int64

Возрастная группа, в которой чаще зарабатывают >50K: adult

**14. Сгруппируйте людей по типу занятости (колонка occupation) и определите количество людей в каждой группе. После чего напишите функциюю фильтрации filter_func, которая будет возвращать только те группы, в которых средний возраст (колонка age) не больше 40 и в которых все работники отрабатывают более 5 часов в неделю (колонка hours-per-week)**

In [50]:
occupation_counts = data.groupby('occupation').size()
print("Количество людей в каждой группе занятости:")
print(occupation_counts)

def filter_func(group):
    """
    group — это DataFrame одной группы occupation
    Возвращает True, если средний возраст <= 40
    и все работники работают >5 часов в неделю
    """
    return group['age'].mean() <= 40 and (group['hours-per-week'] > 5).all()

filtered_occupations = data.groupby('occupation').filter(filter_func)

print("\nOccupation, которые прошли фильтр:")
print(filtered_occupations['occupation'].unique())

Количество людей в каждой группе занятости:
occupation
?                    1843
Adm-clerical         3770
Armed-Forces            9
Craft-repair         4099
Exec-managerial      4066
Farming-fishing       994
Handlers-cleaners    1370
Machine-op-inspct    2002
Other-service        3295
Priv-house-serv       149
Prof-specialty       4140
Protective-serv       649
Sales                3650
Tech-support          928
Transport-moving     1597
dtype: int64

Occupation, которые прошли фильтр:
['Armed-Forces']